In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_excel('moviereviews.xlsx')
df

     label                                             review
0      neg  how do films like mouse hunt get into theatres...
1      neg  some talented actresses are blessed with a dem...
2      pos  this has been an extraordinary year for austra...
3      pos  according to hollywood movies made in last few...
4      neg  my first press screening of 1998 and already i...
...    ...                                                ...
1995   pos  i like movies with albert brooks , and i reall...
1996   pos  it might surprise some to know that joel and e...
1997   pos  the verdict : spine-chilling drama from horror...
1998   pos  i want to correct what i wrote in a former ret...
1999   pos  a couple of months ago , when i first download...

[2000 rows x 2 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   2000 non-null   object
 1   review  1938 non-null   object
dtypes: object(2)
memory usage: 31.4+ KB

In [4]:
df.label.value_counts()

neg    1000
pos    1000
Name: label, dtype: int64

In [5]:
df.review.iloc[[7]]

7    tim robbins and martin lawernce team up in thi...
Name: review, dtype: object

In [6]:
x=df['review']

In [7]:
df.masage=df.review.astype('str')

In [15]:
import nltk

In [16]:
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [17]:
from nltk.stem import PorterStemmer,WordNetLemmatizer
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [69]:
token=word_tokenize(str(df.masage).lower())
token

['0',
 'how',
 'do',
 'films',
 'like',
 'mouse',
 'hunt',
 'get',
 'into',
 'theatres',
 '...',
 '1',
 'some',
 'talented',
 'actresses',
 'are',
 'blessed',
 'with',
 'a',
 'dem',
 '...',
 '2',
 'this',
 'has',
 'been',
 'an',
 'extraordinary',
 'year',
 'for',
 'austra',
 '...',
 '3',
 'according',
 'to',
 'hollywood',
 'movies',
 'made',
 'in',
 'last',
 'few',
 '...',
 '4',
 'my',
 'first',
 'press',
 'screening',
 'of',
 '1998',
 'and',
 'already',
 'i',
 '...',
 '...',
 '1995',
 'i',
 'like',
 'movies',
 'with',
 'albert',
 'brooks',
 ',',
 'and',
 'i',
 'reall',
 '...',
 '1996',
 'it',
 'might',
 'surprise',
 'some',
 'to',
 'know',
 'that',
 'joel',
 'and',
 'e',
 '...',
 '1997',
 'the',
 'verdict',
 ':',
 'spine-chilling',
 'drama',
 'from',
 'horror',
 '...',
 '1998',
 'i',
 'want',
 'to',
 'correct',
 'what',
 'i',
 'wrote',
 'in',
 'a',
 'former',
 'ret',
 '...',
 '1999',
 'a',
 'couple',
 'of',
 'months',
 'ago',
 ',',
 'when',
 'i',
 'first',
 'download',
 '...',
 'name',
 ':',
 'review',
 ',',
 'length',
 ':',
 '2000',
 ',',
 'dtype',
 ':',
 'object']

In [37]:
from nltk.tokenize import word_tokenize
nltk.download('punkt')
nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [60]:
# romovong dots and other numbers and impeurity in the data(non alphabets)
text=[i for i in token if i.isalpha()]
# removing the stopwords
stwd=stopwords.words('english')
text1=[i for i in text if i not in stwd]
# doing the lemitization(conveoring words into there root base form)
lemma = WordNetLemmatizer()
text2=[lemma.lemmatize(i) for i in text1]
" ".join(text2)

'film like mouse hunt get theatre talented actress blessed dem extraordinary year austra according hollywood movie made last first press screening already like movie albert brook reall might surprise know joel e verdict drama horror want correct wrote former ret couple month ago first download name review length dtype object'

In [56]:
def clean_text(text):
  token=word_tokenize(text.lower()) #case conversion + tokenization

  #non-alpha removal
  ftoken=[i for i in token if i.isalpha()]

  #stopwords removal
  stpwd=stopwords.words('english')
  stoken=[i for i in ftoken if i not in stpwd]

  #lemma
  lemma = WordNetLemmatizer()
  ltoken=[lemma.lemmatize(i) for i in stoken]

  #joining list of msgs
  return " ".join(ltoken)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   2000 non-null   object
 1   review  2000 non-null   object
dtypes: object(2)
memory usage: 31.4+ KB

In [58]:
df['review']=df['review'].astype(str)
df['clean_msg']=df['review'].apply(clean_text)

In [59]:
df

,label,review,clean_msg
0,neg,how do films like mouse hunt get into theatres...,film like mouse hunt get theatre law something...
1,neg,some talented actresses are blessed with a dem...,talented actress blessed demonstrated wide act...
2,pos,this has been an extraordinary year for austra...,extraordinary year australian film shine scoop...
3,pos,according to hollywood movies made in last few...,according hollywood movie made last decade lif...
4,neg,my first press screening of 1998 and already i...,first press screening already gotten prime can...
...,...,...,...
1995,pos,"i like movies with albert brooks , and i reall...",like movie albert brook really like movie dire...
1996,pos,it might surprise some to know that joel and e...,might surprise know joel ethan coen brought un...
1997,pos,the verdict : spine-chilling drama from horror...,verdict drama horror maestro stephen king feat...
1998,pos,i want to correct what i wrote in a former ret...,want correct wrote former retrospective david ...
1999,pos,"a couple of months ago , when i first download...",couple month ago first downloaded trailer net ...

In [70]:
x=df.clean_msg
y=df.label

In [71]:
from sklearn.feature_extraction.text import TfidfVectorizer
vec=TfidfVectorizer(min_df=0.01)
x = vec.fit_transform(x).toarray()
x

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.07430725, 0.        , 0.05176242, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [72]:
x.shape

(2000, 4079)

In [73]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.30,random_state=1)

In [74]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(xtrain,ytrain)
ypred=lr.predict(xtest)

In [75]:
from sklearn.metrics import classification_report
print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

         neg       0.86      0.80      0.83       302
         pos       0.81      0.86      0.84       298

    accuracy                           0.83       600
   macro avg       0.83      0.83      0.83       600
weighted avg       0.83      0.83      0.83       600

In [ ]:
from sklearn.naive_bayes import GaussianNB,BernoulliNB,MultinomialNB
from sklearn.metrics import classification_report

In [ ]:
bn=BernoulliNB()
bn.fit(xtrain,ytrain)
y_pred=bn.predict(xtest)
    
tr_score = bn.score(xtrain,ytrain)
ts_score =  bn.score(xtest,ytest)
    
print(f"Trainning score is:- {tr_score}\n\nTesting score is : -{ts_score}")
print(classification_report(ytest,ypred))

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
for i in range(1,30):
    bn=BernoulliNB(alpha=i)
    bn.fit(xtrain,ytrain)
    y_pred=bn.predict(xtest)
    
#     tr_score = bn.score(xtrain,ytrain)
#     ts_score =  bn.score(xtest,ytest)
    print(accuracy_score(xtest,ytest))
    
#     print(f"{i}\nTrainning score is:- {tr_score}\nTesting score is :- {ts_score}")
#     print(classification_report(ytest,ypred))

In [ ]:
pip install sketchpy

In [ ]:
from sketchpy import library as lb
obj=lb.rdj()

In [ ]:
get clone https://github.complops/cl_sketch

In [ ]:
pip install --upgrade pip

In [ ]:
Sentiment Analysis of Product Reviews using NLP

As part of a NLP project, I developed a sentiment analysis model to help businesses better understand their customers
opinions. Using Python and libraries such as NLTK, spaCy, and scikit-learn,
I preprocessed a large dataset of product reviews, extracted features using techniques such as bag-of-words and tf-idf, 
and trained a machine learning model to predict the sentiment of each review as positive or negative. 

My model achieved an accuracy of 85% on a held-out test set,
demonstrating its effectiveness in accurately predicting the sentiment of product reviews.
This project allowed me to apply my skills in NLP, machine learning, and
data preprocessing to solve a real-world problem, and gave me valuable experience in working with large datasets
and complex algorithms.

In [ ]:
Objective: Built a sentiment analysis model for classifying online reviews as positive or negative.

Tasks performed:

Preprocessed a dataset of 10,000 online reviews using NLP techniques (tokenization, lemmatization, stopword removal).
Trained a logistic regression model using scikit-learn and tuned hyperparameters using grid search and cross-validation.
Achieved an accuracy of 85% on the testing set and demonstrated the model's ability to generalize to unseen data.
Skills utilized:

NLP techniques (tokenization, lemmatization, stopword removal) using Python's NLTK library.
Machine learning techniques (logistic regression, grid search, cross-validation) using scikit-learn.
Data preprocessing and cleaning using Python's pandas library.
This version focuses on the key tasks and skills you utilized in the project, without mentioning data collection or visualization.